@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway' sans-serif;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 10%;
}
#logo{
    font-family: 'Pacifico';
    text-decoration: none;
    color: #202020;
    font-size: 35px;
}
.link a {
text-decoration: none;
color: #555;
padding: 5px 10px;
font-style: 18px;
}
nav button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #4ab583;
    color: #fff;
    box-shadow: 0 2px 15px #15e9b4;
    cursor: pointer;
    transition: 0.7s;

}
nav button:hover{
    box-shadow: 0 0 15px 10px #76e9b4;
}
