@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 10%;
background-color: rgb(243, 239, 239);
}

#logo{
    font-family:'Pacifico';
    text-decoration: none;
    color: #202020;
    font-size: 35px;
    
}

.link a {
text-decoration: none;
color: #555;
padding: 5px 10px;
font-style: 18px;

}

nav button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #4ab583;
    color: #fff;
    box-shadow: 0 2px 15px #15e9b4;
    cursor: pointer;
    transition: 0.7s;

}
nav button:hover{
    box-shadow: 0 0 15px 10px #76e9b4;
    transform: scale(1.1);
}
.hero{
    padding: 20px 10px;
    display:flex;
    gap: 20px;
}
.hero :is(figure, .cta){
    flex: 1;
}
.hero figure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.hero figure .image:hover{
    animation: pulse .5s infinite alternate;
}

.hero figure .image{
    background-color: #000;
    height: 200px;
    position: relative;
    width: 200px;
    justify-self: end;
}
figure .image:nth-child(2) {
top: -20px;
justify-self: start;
}
figure .image:nth-child(4){
    top: -20px;
    justify-self: start;
}
.hero .cta {
    padding: 0px 20px;

}
.hero .cta h1{
    font-size: 4rem;
    color: #202020;
}
.hero .cta h1 span{
    background-color:#1fd680;
    border-radius: 20px;
    padding: 5px;
}
.hero .cta p{
    padding: 20px 0px;
    font-size:22px; 
    color: #555;
}
.hero .cta button{
    padding: 15px 30px;
    background-color: #1fd680;
    box-shadow: 0 2px;
    border: none;
    border-radius: 50px;
    color:white;
    cursor: pointer;
}
@keyframes pulse {
    from{
        transform: scale(0.9);
        opacity: 0.7;

    }
    to{
        transform: scale(1.1);
        opacity: 1;
    }
}